@use "./clearfix";
@use "./variables";
@use "./custom";

body {
  background-color: variables.$eerie-black;
  color: variables.$antiflash-white;
}

.page-wrapper {
  section.section {
    padding: 3rem 2rem;

    &:nth-child(odd) {
      background-color: variables.$onyx;
    }
  }
}

// SECTION 1
section.section-1 {
  overflow: hidden;
  .section-wrapper {
    height: 150px;

    display: flex;
    align-items: center;
    gap: 1rem;

    .box-container {
      position: relative;
      height: 100%;
      padding: 10px;

      display: flex;
      align-items: center;
      flex-grow: 2;

      border: 2px solid variables.$red-pantone;
      border-radius: 0.25rem;

      .box {
        position: absolute;
        left: 10px;
        --box-size: 75px;
        width: var(--box-size);
        height: var(--box-size);

        background-color: variables.$red-pantone;
      }
    }
  }
}

// SECTION 2
section.section-2 {
  .section-wrapper {
    .grid {
      width: fit-content;
      margin: 0 auto;

      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 5px;

      .square {
        $size: 40px;
        width: $size;
        height: $size;
        background-color: variables.$red-pantone;
      }
    }
  }
}

// SECTION 3
section.section-3 {
  .section-wrapper {

    .drag-container {
      height: 400px;
      border: 2px solid variables.$red-pantone;
      .drag-object {
        width: 80px;
        height: 80px;

        background-color: variables.$cool-gray;
        color: variables.$space-cadet;

        border-radius: 0.25rem;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.5em;
        text-align: center;
        line-height: 1;
      }
    }

    .action{
      margin: 1rem 0 0;
    }
  }
}
